/* Center content both vertically and horizontally */
.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30vh; /* Full page height */
    text-align: center;
  }
  
  .home-container h1 {
    font-size: 2.5rem;
    color:black;
  }
  
  .home-container p {
    font-size: 1.2rem;
    color: #333;
  }
  